<!-- space-y-6 → adds vertical spacing between children -->
<div class="space-y-6">
    <!-- Page Header -->
    <div class="flex sm:flex-row sm:items-center justify-between gap-4">
        <div>
            <h1 class="text-2xl font-bold text-gray-900">Create InventoryItem</h1>
            <p class="text-sm text-gray-500 mt-1">Create new inventoryitem</p>
        </div>
        <div class="flex items-center gap-3">
            <a routerLink="inventoryitems"
                class="flex items-center gap-2 px-4 py-2 bg-indigo-600 text-white rounded-lg text-sm font-medium hover:bg-indigo-700 transition-colors shadow-sm cursor-pointer">
                <span class="material-icons text-sm"></span>
                Back to item list
            </a>
        </div>
    </div>


    <!-- InventoryItem From -->
    <div class="bg-white rounded-xl border border-gray-200 overflow-hidden">
        <div class="py-6 px-3">
            <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
                <!--Select Product-->
                <div class="flex items-center justify-between">
                    <div class="w-2/5">
                        <label class="block text-sm font-medium text-gray-700 mb-2">
                            Select Product <span class="text-red-500">*</span>
                        </label>
                        <select
                            class="w-full px-2 py-3 bg-gray-50 border border-gray-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-indigo-500/20 focus:border-indigo-500 transition-all">
                            <option value="">-- Choose a Product --</option>
                            @for (p of products; track p.id) {
                            <option [value]="p.id">{{ p.name }}</option>
                            }
                        </select>

                        @if (itemForm.get('product')?.touched && itemForm.get('product')?.invalid) {
                        <small class="error">Please select product first.</small>
                        }
                    </div>
                    <div>
                        <button type="button" (click)="addRow()"
                            [disabled]="!isProductSelected"
                            class="flex items-center gap-2 px-4 py-2 bg-indigo-600 text-white 
                            rounded-lg text-sm font-medium hover:bg-indigo-700 
                            transition-colors shadow-sm cursor-pointer">
                            <span class="material-icons text-sm">add</span>
                            Add Quantity
                        </button>
                    </div>
                </div>
                <hr class="my-5 text-gray-200">
                <table class="min-w-full border-collapse border border-gray-200">
                    <thead class="bg-gray-200">
                        <tr>
                            <th class="border border-gray-300 px-4 py-2">#</th>
                            <th class="border border-gray-300 px-4 py-2">Select Storage Bin</th>
                            <th class="border border-gray-300 px-4 py-2">Available Bin Capacity</th>
                            <th class="border border-gray-300 px-4 py-2">Product Qunatity</th>
                            <th class="border border-gray-300 px-4 py-2">Remove</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="rows">
                        @for (row of rows.controls; track row; let i = $index) {
                        <tr [formGroupName]="i">
                            <th class="border border-gray-300 px-4 py-2">{{(i+1)}}</th>
                            <th class="border border-gray-300  px-4 py-2">
                                <select formControlName="bin"
                                    class="w-full px-2 py-3 bg-gray-50 border border-gray-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-indigo-500/20 focus:border-indigo-500 transition-all">
                                    <option value="">Select Bin</option>
                                    @for (bin of availableBins; track bin) {
                                    <option [value]="bin.id" [disabled]="isBinDisabled(bin.id, i)">
                                        {{ bin.name }}
                                    </option>
                                    }
                                </select>
                            </th>
                            <th class="border border-gray-300 px-4 py-2 text-green-600">Available Bin Capacity: {{
                                getBinCapacity(i) }}</th>
                            <th class="border border-gray-300 px-4 py-2">
                                @let cap = getBinCapacity(i);
                                @let qty = row.get('quantity')?.value;
                                <input formControlName="quantity" type="number" [max]="getBinCapacity(i)" min="0"
                                    class="w-full px-4 py-3 bg-gray-50 border border-gray-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-indigo-500/20 focus:border-indigo-500 transition-all">

                                @if (cap !== null && qty > cap) {
                                <small class="error">
                                    ⚠️ Cannot exceed {{ cap }}!
                                </small>
                                }
                            </th>
                            <th class="border border-gray-300 px-4 py-2">
                                <div class="flex items-center justify-center">
                                    <button type="button" (click)="removeRow(i)"
                                        class="flex items-center gap-2 px-2 py-2 bg-red-600 text-white rounded-lg text-sm font-medium hover:bg-red-700 transition-colors shadow-sm cursor-pointer">
                                        <span class="material-icons text-sm">delete</span>
                                    </button>
                                </div>

                            </th>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="border border-gray-300 px-4 py-2" colspan="3">
                                <span class="flex items-center justify-end">Total Product Quantity:</span>
                            </th>
                            <th class="border border-gray-300 px-4 py-2">
                                <span class="flex items-center justify-start">{{totalQuantity()}}</span>
                            </th>
                            <th class="border border-gray-300 px-4 py-2"></th>
                        </tr>
                    </tfoot>
                </table>


                <div class="flex gap-3 items-center mt-6">
                    <button type="submit" [disabled]="itemForm.invalid || isSubmitting()"
                        class="flex items-center gap-2 px-4 py-2 bg-green-600 
                        text-white rounded-lg text-sm font-medium hover:bg-green-700 
                        transition-colors shadow-sm cursor-pointer
                        disabled:bg-gray-400 disabled:text-gray-700 disabled:opacity-75 disabled:cursor-not-allowed">Save</button>
                    <button type="button" (click)="clearInventoryItemForm()"
                        class="flex items-center gap-2 px-4 py-2 bg-yellow-600 text-white rounded-lg text-sm font-medium hover:bg-yellow-700 transition-colors shadow-sm cursor-pointer">Clear</button>
                    <a routerLink="/items"
                        class="flex items-center gap-2 px-4 py-2 bg-orange-600 text-white rounded-lg text-sm font-medium hover:bg-orange-700 transition-colors shadow-sm cursor-pointer">Cancel</a>
                </div>

                @if (submitMessage()) {
                <div class="alert success mt-6">{{ submitMessage() }}</div>
                }
            </form>
        </div>
    </div>
</div>