<!-- space-y-6 → adds vertical spacing between children -->
<div class="space-y-6">
    <!-- Page Header -->
    <div class="flex sm:flex-row sm:items-center justify-between gap-4">
        <div>
            <h1 class="text-2xl font-bold text-gray-900">Create Storage Bin</h1>
            <p class="text-sm text-gray-500 mt-1">Create new Storage Bin</p>
        </div>
        <div class="flex items-center gap-3">
            <a routerLink="/storagebin"
                class="flex items-center gap-2 px-4 py-2 bg-indigo-600 text-white rounded-lg text-sm font-medium hover:bg-indigo-700 transition-colors shadow-sm cursor-pointer">
                <span class="material-icons text-sm"></span>
                Back to storage bin list
            </a>
        </div>
    </div>

    <!-- StorageBin From -->
    <div class="bg-white rounded-xl border border-gray-200 overflow-hidden">
        <div class="py-6 px-3">
            <form [formGroup]="storageBinForm" (ngSubmit)="onSubmit()">

                <!--Warehouse-->
                <label class="block text-sm font-medium text-gray-700 mb-2">
                    Select Warehouse <span class="text-red-500">*</span>
                </label>
                <select formControlName="warehouseId" class="w-full px-2 py-3 bg-gray-50 border border-gray-200 
                        rounded-xl focus:outline-none focus:ring-2 focus:ring-indigo-500/20 
                        focus:border-indigo-500 transition-all">
                    <option ngValue="">-- Choose Warehouse--</option>
                    @for (w of warehouses; track w?.warehouseId) {
                    <option [ngValue]="w?.warehouseId">{{ w.name }}</option>
                    }
                </select>
                @if (storageBinForm.get('warehouseId')?.touched && storageBinForm.get('warehouseId')?.invalid) {
                <small class="error">Please select warehouse first.</small>
                }


                <!-- StorageBin Code -->
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-2">
                        StorageBin Code <span class="text-red-500">*</span>
                    </label>
                    <input formControlName="binCode" type="text" placeholder="e.g., A1"
                        class="w-full px-4 py-3 bg-gray-50 border border-gray-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-indigo-500/20 focus:border-indigo-500 transition-all">
                    @if (storageBinForm.get('binCode')?.touched && storageBinForm.get('binCode')?.invalid) {
                    <small class="error">Product name must be at least 3 characters.</small>
                    }
                </div>

                <!-- StorageBin Capacity -->
                <div class="mt-6">
                    <label class="block text-sm font-medium text-gray-700 mb-2">
                        StorageBin Capacity <span class="text-red-500">*</span>
                    </label>
                    <input formControlName="totalCapacity" type="number" placeholder="e.g., 123"
                        class="w-full px-4 py-3 bg-gray-50 border border-gray-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-indigo-500/20 focus:border-indigo-500 transition-all">
                    @if (storageBinForm.get('totalCapacity')?.touched && storageBinForm.get('totalCapacity')?.invalid) {
                    <small class="error">Storagebin capacity must be at least 1.</small>
                    }
                </div>

                <div class="flex gap-3 items-center mt-6">
                    <button type="submit" [disabled]="storageBinForm.invalid || isSubmitting() "
                        class="flex items-center gap-2 px-4 py-2 bg-green-600 
                        text-white rounded-lg text-sm font-medium hover:bg-green-700 
                        transition-colors shadow-sm cursor-pointer
                        disabled:bg-gray-400 disabled:text-gray-700 disabled:opacity-75 disabled:cursor-not-allowed">Save</button>
                    <button type="button" (click)="clearStorageBinForm()"
                        class="flex items-center gap-2 px-4 py-2 bg-yellow-600 text-white rounded-lg text-sm font-medium hover:bg-yellow-700 transition-colors shadow-sm cursor-pointer">Clear</button>
                    <a routerLink="/storagebin"
                        class="flex items-center gap-2 px-4 py-2 bg-orange-600 text-white rounded-lg text-sm font-medium hover:bg-orange-700 transition-colors shadow-sm cursor-pointer">Cancel</a>
                </div>

                @if (submitMessage()) {
                <div class="alert success mt-6">{{ submitMessage() }}</div>
                }
            </form>
        </div>
    </div>
</div>